# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
*/.env
.env.local
.env.*.local

# Build & Expo
.expo/
*/.expo/
dist/
*/dist/
web-build/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
